{% extends "base.html" %}
{% block title %}| Home{% endblock %}
{%block head%}
<script src="https://cdn.tailwindcss.com/3.3.0"></script>
<script src="https://unpkg.com/feather-icons"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
<meta name="classId" content="{{ userclass['id'] if userclass else '0' }}">
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
  rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
<script>
  tailwind.config = {
    darkMode: "class",
    theme: {
      fontFamily: {
        sans: ["Roboto", "sans-serif"],
        body: ["Roboto", "sans-serif"],
        mono: ["ui-monospace", "monospace"],
      },
    },
    corePlugins: {
      preflight: false,
    },
  };
</script>
{% endblock %}
{% block content %}
<section class="h-auto">
    <div class="max-w-7xl mx-auto py-16 px-10 sm:py-24 sm:px-6 lg:px-8">
        <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">
            {{userclass['className']}}</p>
        <p class="mt-1 text-xl text-gray-900 sm:text-5xl sm:tracking-tight lg:text-2xl">{{userclass['teacher']}}</p>
        <div class="flex w-full flex-wrap content-center" style="width: 100%; justify-content: center; gap: 10px;">
            <div class="flex w-full flex-wrap content-center" style="width: auto; justify-content: center;">
                <a href="/"
                    class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4"
                    data-rounded="rounded-md" data-primary="indigo-600" type="button">Back to All Classes</a>
            </div>
            <div class="flex w-full flex-wrap content-center" style="width: auto; justify-content: center;">
                <a href="#" data-modal-target="classSettingsModal" data-modal-toggle="classSettingsModal"
                    class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4"
                    data-rounded="rounded-md" data-primary="indigo-600" type="button">Class Settings</a>
                <div id="classSettingsModal" tabindex="-1" aria-hidden="true"
                    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                    <div class="relative w-full h-full max-w-2xl md:h-auto">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow">
                            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post"
                                action="/class/{{userclass['id']}}/edit">
                                <!-- Modal header -->
                                <div class="flex items-start justify-between p-4 border-b rounded-t">
                                    <h3 class="text-xl font-semibold text-gray-900">
                                        Class Settings
                                    </h3>
                                    <button type="button"
                                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                                        data-modal-hide="classSettingsModal">
                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                </div>
                                <!-- Modal body -->
                                <div class="p-6 space-y-6">
                                    <div class="mb-4">
                                        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                                            Name
                                        </label>
                                        <input
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            id="name" name="name" type="text" placeholder="Class Name"
                                            value="{{userclass['className']}}">
                                    </div>
                                    <div class="mb-4">
                                        <label class="block text-gray-700 text-sm font-bold mb-2" for="teacher">
                                            Teacher
                                        </label>
                                        <input
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            id="teacher" name="teacher" type="text" placeholder="Teacher"
                                            value="{{userclass['teacher']}}">
                                    </div>
                                    {% if notfromlms %}
                                    <div class="mb-4">
                                        <label class="block text-gray-700 text-sm font-bold mb-2" for="teacher">
                                            URL to fetch assignments from (leave empty if you don't want to use AI)
                                        </label>
                                        <input
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            id="fetchurl" name="fetchurl" type="text" placeholder="URL" value="{{ userclass['courseId'] }}">
                                      </div>
                                      {% endif %}
                                    <div class="relative flex gap-x-3">
                                        <div class="flex h-6 items-center">
                                            <input id="candidates" name="propagateAutomatically" type="checkbox" {%if
                                                userclass['propagateAutomatically']%}checked="checked" {%endif%}
                                                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                        </div>
                                        <div class="text-sm leading-6">
                                            <label for="propagateAutomatically" class="font-medium text-gray-900">Use AI
                                                to automatically fetch assignments</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
                                    <button
                                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                                        type="submit">Edit</button>
                                    <button data-modal-hide="classSettingsModal" type="button"
                                        class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex w-full flex-wrap content-center" style="width: auto; justify-content: center;">
                <a href="#" data-modal-target="addTaskModal" data-modal-toggle="addTaskModal"
                    class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4"
                    data-rounded="rounded-md" data-primary="indigo-600" type="button">Add Task</a>
                <div id="addTaskModal" tabindex="-1" aria-hidden="true"
                    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
                    <div class="relative w-full h-full max-w-2xl md:h-auto">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow">
                            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post"
                                action="/class/{{userclass['id']}}/addAssignment">
                                <!-- Modal header -->
                                <div class="flex items-start justify-between p-4 border-b rounded-t">
                                    <h3 class="text-xl font-semibold text-gray-900">
                                        Add a Task
                                    </h3>
                                    <button type="button"
                                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                                        data-modal-hide="addTaskModal">
                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                </div>
                                <!-- Modal body -->
                                <div class="p-6 space-y-6">
                                    <div class="mb-4">
                                        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                                            Name
                                        </label>
                                        <input
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            id="name" name="name" type="text" placeholder="Task Name">
                                    </div>
                                    <div class="mb-4">
                                        <label class="block text-gray-700 text-sm font-bold mb-2" for="due">
                                            Due Date
                                        </label>
                                        <input
                                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                            id="due" name="due" type="datetime-local" placeholder="Due Date">
                                    </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
                                    <button data-modal-hide="addTaskModal"
                                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                                        type="submit">Add</button>
                                    <button data-modal-hide="addTaskModal"
                                        class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10"
                                        type="button">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" data-modal-target="deleteModal" data-modal-toggle="deleteModal"
        class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-600 mt-4"
        data-rounded="rounded-md" data-primary="indigo-600" type="button">Delete Class</a>
      <div id="deleteModal" tabindex="-1" aria-hidden="true"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
        <div class="relative w-full h-full max-w-2xl md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" action="/class/{{ userclass['id'] }}/delete">
              <!-- Modal header -->
              <div class="flex items-start justify-between p-4 border-b rounded-t">
                <h3 class="text-xl font-semibold text-gray-900">
                  Delete Class
                </h3>
                <button type="button"
                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                  data-modal-hide="deleteModal">
                  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>
              <!-- Modal body -->
              <div class="p-6 space-y-6">
                <p>Are you sure? If this class was auto-imported, it won't come back.</p>
              </div>
              <!-- Modal footer -->
              <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
                <button
                  class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                  type="submit">Delete</button>
                <button data-modal-hide="deleteModal" type="button"
                  class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
        </div>
        <div class="mt-4 -mb-3">
            <div class="not-prose relative bg-slate-50 rounded-xl overflow-hidden">
                <div class="relative rounded-xl overflow-auto">
                    <div class="shadow-sm overflow-hidden my-8">
                        <table class="border-collapse table-auto w-full text-sm">
                            <thead>
                                <tr>
                                    <th class="border-b font-medium p-4 pr-8 pt-0 pb-3 text-slate-800 text-left"></th>
                                    <th class="border-b font-medium p-4 pl-8 pt-0 pb-3 text-slate-800 text-left">Name
                                    </th>
                                    <th class="border-b font-medium p-4 pt-0 pb-3 text-slate-800 text-left">Added</th>
                                    <th class="border-b font-medium p-4 pr-8 pt-0 pb-3 text-slate-800 text-left">Due
                                    </th>
                                    <th class="border-b font-medium p-4 pr-8 pt-0 pb-3 text-slate-800 text-left">
                                        Completed</th>
                                    <th class="border-b font-medium p-4 pr-8 pt-0 pb-3 text-slate-800 text-left"></th>
                                </tr>
                            </thead>
                            <tbody class="bg-white snow-table">
                                {% for assignment in assignments %}
                                <tr>
                                    <td
                                        class="border-b border-slate-100 p-4 {% if assignment.overdue and not assignment.completed %}text-red-500{%else%}text-slate-900{%endif%}">
                                        {% if assignment.overdue and not assignment.completed %}<span
                                            class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">Due</span>{%
                                        endif %}</td>
                                    <td class="border-b border-slate-100 p-4 pl-8 {% if assignment.overdue and not assignment.completed %}text-red-500{%else%}text-slate-900{%endif%}"
                                        id="{{assignment.id}}_name">{% if assignment.completed
                                        %}<strike>{%endif%}{{assignment.name}}{% if assignment.completed
                                            %}</strike>{%endif%}</td>
                                    <td
                                        class="border-b border-slate-100 p-4 {% if assignment.overdue and not assignment.completed %}text-red-500{%else%}text-slate-900{%endif%}">
                                        {% if assignment.completed %}<strike>{%endif%}{{assignment.added}}{% if
                                            assignment.completed %}</strike>{%endif%}</td>
                                    <td class="border-b border-slate-100 p-4 pr-8 {% if assignment.overdue and not assignment.completed %}text-red-500{%else%}text-slate-900{%endif%}"
                                        id="{{assignment.id}}_due">{% if assignment.completed
                                        %}<strike>{%endif%}{{assignment.due}}{% if assignment.completed
                                            %}</strike>{%endif%}</td>
                                    <td class="border-b border-slate-100 p-4 pr-8 text-slate-900"><input
                                            id="{{assignment.id}}_complete" name="completed" type="checkbox" {% if
                                            assignment.completed %}checked="checked" {% endif %}
                                            onchange="change_complete_status('{{assignment.id}}')"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                    </td>
                                    <td class="border-b border-slate-100 p-4 text-slate-900 flex w-full content-center scale-90"
                                        style="gap: 10px;">
                                        <select data-te-select-init multiple onchange="changenotifs('{{assignment.id}}', this)">
                                            <option value="30m" {% if "30m" in assignment.notifs %}selected{% endif %}>30 minutes before</option>
                                            <option value="1h" {% if "1h" in assignment.notifs %}selected{% endif %}>1 hour before</option>
                                            <option value="6h" {% if "6h" in assignment.notifs %}selected{% endif %}>6 hours before</option>
                                            <option value="12h" {% if "12h" in assignment.notifs %}selected{% endif %}>12 hours before</option>
                                            <option value="1d" {% if "1d" in assignment.notifs %}selected{% endif %}>1 day before</option>
                                          </select>
                                          <label data-te-select-label-ref>Notifications</label>

                                        <i id="{{assignment.id}}_edit" data-feather="edit"
                                            onclick="editable('{{assignment.id}}')"></i>
                                        <form method="post"
                                            action="/class/{{userclass['id']}}/assignment/{{assignment.id}}/delete"
                                            id="delete_{{assignment.id}}"></form><i data-feather="trash-2"
                                            onclick="document.getElementById('delete_{{assignment.id}}').submit()"></i>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="absolute inset-0 pointer-events-none border border-black/5 rounded-xl"></div>
            </div>
        </div>
    </div>
</section>
<script>
    feather.replace()
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<script src="/static/assignments.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
{% endblock %}