{% extends 'base.html' %}
{% block title %}| Verify Email{% endblock %}
{% block head %}
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/feather-icons"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
{% endblock %}
{% block content %}
<section class="h-auto bg-white">
    <div class="max-w-7xl mx-auto py-16 px-10 sm:py-24 sm:px-6 lg:px-8 sm:text-center">
        <p class="mt-1 text-4xl font-extrabold text-black-900 sm:text-5xl sm:tracking-tight lg:text-6xl" style="text-align:left">Verify email</p>
        <p class="mt-5 mx-auto text-xl text-gray-900" style="text-align:left">You should have received a verification code in your email. Please enter it below to verify your email.</p>
        <br>
        <form method="post" action="/verifycode"  style="text-align:left; display:flex;width:400px;gap:10px;align-items: center;">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    Verification Code
                </label>
                <input required
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="code" name="code" placeholder="Verification Code">
            </div>
            <button type="submit"
                class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600"
                data-rounded="rounded-md" data-primary="indigo-600" style="margin-top:11px; height: 40;"> Verify </button>
        </form>
    </div>
</section>
{% endblock %}