{% extends "base.html" %}
{% block title %}FAQ{% endblock %}
{%block head%}
<link href="/static/setup.css" rel="stylesheet" type="text/css">
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/feather-icons"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<section class="h-auto bg-white">
    <div class="max-w-7xl mx-auto py-16 px-10 sm:py-24 sm:px-6 lg:px-8">
        <p class="mt-1 text-4xl font-extrabold text-gray-900">When are assignments gathered from Blackboard?</p>
        <p class="mt-1 text-xl text-gray-900">Every 5 minutes.</p>
        <p class="mt-1 text-4xl font-extrabold text-gray-900">How am I notifed?</p>
        <p class="mt-1 text-xl text-gray-900">Via email, with an option for text notifications.</p>
    </div>
</section>
{% endblock %}