<html lang="en" data-lt-installed="true">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>StudentMate</title>
  <link rel="shortcut icon" type="image/x-icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✅</text></svg>">
  <link rel="stylesheet" href="/static/style.css">
  <script defer data-domain="studentmate.shuchir.dev" src="https://plausible.shuchir.dev/js/script.js"></script>
</head>

<body data-new-gr-c-s-check-loaded="14.1027.0" data-gr-ext-installed="">
  <section class="w-full px-8 text-gray-700 bg-white">
    <div class="container flex flex-col flex-wrap items-center justify-between py-5 mx-auto md:flex-row max-w-7xl">
      <div class="relative flex flex-col md:flex-row">
        <a href="#_"
          class="flex items-center mb-5 font-medium text-gray-900 lg:w-auto lg:items-center lg:justify-center md:mb-0">
          <span class="mx-auto text-xl font-black leading-none text-gray-900 select-none">StudentMate</span>
        </a>
      </div>
      <div class="inline-flex items-center ml-5 space-x-6 lg:justify-end">
        <a href="/login"
          class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600"
          data-rounded="rounded-md" data-primary="indigo-600">Get Started</a>
      </div>
    </div>
  </section>
  <section class="px-2 py-32 bg-white md:px-0">
    <div class="container items-center max-w-6xl px-8 mx-auto xl:px-5">
      <div class="flex flex-wrap items-center sm:-mx-3">
        <div class="w-full md:w-1/2 md:px-3">
          <div
            class="w-full pb-6 space-y-6 sm:max-w-md lg:max-w-lg md:space-y-4 lg:space-y-8 xl:space-y-9 sm:pr-5 lg:pr-0 md:pb-0">
            <h1
              class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl">
              <span class="block xl:inline">Never
                Forget</span><span class="block text-indigo-600 xl:inline" data-primary="indigo-600">An Assignment
                Again</span>
            </h1>

            <p class="mx-auto text-base text-gray-500 sm:max-w-md lg:text-xl md:max-w-3xl">It's never been easier to use
              reminders for your assignments.</p>
            <div class="relative flex flex-col sm:flex-row sm:space-x-4">
              <a href="/login"
                class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600"
                data-rounded="rounded-md" data-primary="indigo-600">Get Started</a>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2">
          <div class="w-full h-auto overflow-hidden rounded-md shadow-xl sm:rounded-xl" data-rounded="rounded-xl"
            data-rounded-max="rounded-full">
            <img src="https://cdn.devdojo.com/images/november2020/hero-image.jpeg" class="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="w-full bg-white pt-7 pb-7 md:pt-20 md:pb-24">
    <div
      class="box-border flex flex-col items-center content-center px-8 mx-auto leading-6 text-black border-0 border-gray-300 border-solid md:flex-row max-w-7xl lg:px-16">
      <div
        class="box-border relative w-full max-w-md px-4 mt-5 mb-4 -ml-5 text-center bg-no-repeat bg-contain border-solid md:ml-0 md:mt-0 md:max-w-none lg:mb-0 md:w-1/2 xl:pl-10">
        <img src="https://cdn.devdojo.com/images/december2020/productivity.png" class="p-2 pl-6 pr-5 xl:pl-16 xl:pr-20">
      </div>
      <div class="box-border order-first w-full text-black border-solid md:w-1/2 md:pl-10 md:order-none">
        <h2 class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl">Connect
          Directly With Blackboard</h2>
        <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-12 xl:pr-32 lg:text-lg">
          Connect your blackboard account to automatically pull all of your classes and assignments.</p>
        <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
          <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid"><span
              class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full lg:bg-indigo-600"
              data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span>Auto-refresh classes and
            assignments
          </li>
          <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid"><span
              class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full lg:bg-indigo-600"
              data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span>Automate your assignments
          </li>

          <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid"><span
              class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full lg:bg-indigo-600"
              data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span>Reminders via high-priority email
          </li>
        </ul>
      </div>
    </div>
    <div
      class="box-border flex flex-col items-center content-center px-8 mx-auto mt-2 leading-6 text-black border-0 border-gray-300 border-solid md:mt-20 xl:mt-0 md:flex-row max-w-7xl lg:px-16">
      <div class="box-border w-full text-black border-solid md:w-1/2 md:pl-6 xl:pl-32">
        <h2 class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl">
          Use AI</h2>
        <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-10 lg:text-lg">
          With the power of AI, automatically get your assignments from teachers' Google Slides agendas.</p>
        <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
          <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid"><span
              class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full lg:bg-indigo-600"
              data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span>No extra setup required
          </li>
          <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid"><span
              class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full lg:bg-indigo-600"
              data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span>No need to remember to put in
            your assignments
          </li>
          <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid"><span
              class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full lg:bg-indigo-600"
              data-primary="yellow-400"><span class="text-sm font-bold">✓</span></span> Some awesome integrations
          </li>
        </ul>
      </div>
      <div
        class="box-border relative w-full max-w-md px-4 mt-10 mb-4 text-center bg-no-repeat bg-contain border-solid md:mt-0 md:max-w-none lg:mb-0 md:w-1/2">
        <img src="https://cdn.devdojo.com/images/december2020/settings.png" class="pl-4 sm:pr-10 xl:pl-10 lg:pr-32">
      </div>
    </div>
  </section>
  <section class="py-20 bg-white">
    <div class="px-4 mx-auto text-center max-w-7xl sm:px-6 lg:px-8">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl md:text-5xl xl:text-6xl">The New Way
        To-Do</h2>
      <lt-highlighter data-lt-linked="1" style="display: none; z-index: auto !important;"><lt-div
          class="lt-highlighter__wrapper"
          style="width: 768px !important; height: 56px !important; transform: none !important; transform-origin: 384px 28px !important; zoom: 1 !important; margin-top: 20px !important; margin-left: 171.6px !important;"><lt-div
            class="lt-highlighter__scroll-element"
            style="top: 0px !important; left: 0px !important; width: 768px !important; height: 56px !important;"></lt-div></lt-div></lt-highlighter>
      <p class="max-w-md mx-auto mt-3 text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
        Use our tools to help you never forget an assignment again. Get started, connect blackboard, profit.</p>
      <div class="flex justify-center mt-8 space-x-3">
        <a href="#"
          class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow hover:bg-indigo-700"
          data-primary="indigo-600" data-rounded="rounded-md">Sign Up Today</a>
      </div>
    </div>
  </section>
  <section class="text-gray-700 bg-white body-font">
    <div class="container flex flex-col items-center px-8 py-8 mx-auto max-w-7xl sm:flex-row">
      <a href="#_" class="text-xl font-black leading-none text-gray-900 select-none logo">StudentMate</a><a href="#_"
        class="text-xl font-black leading-none text-gray-900 select-none logo tails-relative"
        style="background-color: rgb(255 255 255 / var(--tw-bg-opacity)); display: inline !important;"></a>
      <p class="mt-4 text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l sm:border-gray-200 sm:mt-0">© 2023 Shuchir Jain
      </p>
      <span class="inline-flex justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start">
        <a href="https://github.com/CoolCoderSJ" target="_blank" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">GitHub</span>
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <path fill-rule="evenodd"
              d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
              clip-rule="evenodd" class=""></path>
          </svg>
        </a>
      </span>
    </div>
  </section>
</body>

</html>