{% extends 'base.html' %}
{% block title %}| Login{% endblock %}
{% block content %}
<section class="h-auto bg-white">
  <div class="max-w-7xl mx-auto py-16 px-10 sm:py-24 sm:px-6 lg:px-8 sm:text-center">
    <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Login</p>
    <p class="max-w-3xl mt-5 mx-auto text-xl text-gray-500">At this time, StudentMate only works for a certain audience. Choose an option below-</p>
    <a href="/na/google"
      class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600"
      data-rounded="rounded-md" data-primary="indigo-600" style="margin-top:15px"> Connect North Allegheny Blackboard </a>
      <a href="/gclassroom/google"
      class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600"
      data-rounded="rounded-md" data-primary="indigo-600" style="margin-top:15px"> Connect Google Classroom </a>
  </div>
</section>
{% endblock %}