{% extends "base.html" %}
{% block title %}Setup{% endblock %}
{%block head%}
<link href="/static/setup.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<section class="h-auto bg-white">
    <div class="max-w-7xl mx-auto py-16 px-10 sm:py-24 sm:px-6 lg:px-8 sm:text-center">
        <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Blackboard Sync
            In Progress</p>
        <p class="max-w-3xl mt-5 mx-auto text-xl">
            StudentMate is still syncing your current classes and assignments with Blackboard. Please reload this page
            after a few minutes.</p>
    </div>
</section>
{% endblock %}